# IF STATEMENT

In [1]:
a = 10
b = 20

In [2]:
a>b

False

In [3]:
a!=b

True

In [7]:
if a < b:
    print("if is true")

if is true

In [8]:
a = 20
b = 40

In [9]:
if a > b:
    print("if is true")
else:
    print("if is false")

if is false

In [1]:
temp = int(input("Enter the temprature today:")) #type casting
if temp>30:
    print("its hot weather today")
else:
    print("normal weather") #below Temp We Will Write It By Ourselves

Enter the temprature today:44
its hot weather today

# NESTED IF'S #many if's in 1 if

In [12]:
if a==b: #double '==' is used for comparison
    if a>b:
        if a<b:
            if!=b: #!exclamation Mark Is Sign For UnEquality

SyntaxError: invalid syntax (<ipython-input-12-4af6e8717129>, line 4)

In [3]:
cnic = input("do you have cnic")
if cnic=='yes':
    print("andar chalain jaen")
    nameinlist = input("is my name in list?")
    if nameinlist=='yes':
        print("please cast ur vote")
    else:
        print("you can not caste vote")

else:
    print("you can't caste vote")

do you have cnicyes
andar chalain jaen
is my name in list?yes
please cast ur vote

# IF ELIF ELSE #elif=else if

In [17]:
marks = int(input("enter your marks :")) #we put int bcz by default it is counted as string so when we use numbers we mention int to change it to int
grade = " "
if marks>=90:
    grade = "A*"
elif marks>=70:
    grade="B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D"
else:
    print("you are ungraded please try again")
    
print(f"your marks are {marks} and your grade is {grade}")

enter your marks :90
your marks are 90 and your grade is A*

In [18]:
and #all values are true then result is true
or #1 value is true then result is true #elif

SyntaxError: invalid syntax (<ipython-input-18-4035d28000cd>, line 1)

In [19]:
cnic = input("do u have CNIC?")
namelist = input("is my name in list?")

if (cnic=='yes') and (namelist=='yes'):
    print("caste your vote")
    
else:
    print("you can not")

do u have CNIC?yes
is my name in list?yes
caste your vote

# LIST

In [23]:
students = ['asad','nasir', 'aisha']
#index        0       1        2

In [24]:
students

['asad', 'nasir', 'aisha']

In [52]:
students

NameError: name 'students' is not defined

In [4]:
newlist=[]

In [5]:
newlist.append(299)
newlist

[299]

In [6]:
newlist.insert(1, 'hussain') #to check signature (shift+tab)
newlist

[299, 'hussain']

In [8]:
newlist.index('hussain')             #index = to check value of list

1

In [11]:
newlist.append('yasir')
newlist

[299, 'hussain', 'yasir', 'yasir']

In [14]:
newlist.remove('hussain')
newlist

[299, 'yasir', 'yasir']

In [11]:
newlist.append('yasir')
newlist

[299, 'hussain', 'yasir', 'yasir']

In [21]:
marks=[3,46,78,23,34]

In [22]:
marks.sort()    #ascending ya descending order m sort krdega
marks

[3, 23, 34, 46, 78]

In [24]:
marks.sort(reverse=True)
marks

[78, 46, 34, 23, 3]

In [25]:
list2 = marks           #past by refrence
marks

[78, 46, 34, 23, 3]

In [26]:
del marks[2]  
list2

[78, 46, 23, 3]

In [27]:
list3 = list2.copy()
list3

[78, 46, 23, 3]

In [28]:
list2.append(499)    #ab list3 ka list2 se koi relation nhi
list3

[78, 46, 23, 3]

In [29]:
list2

[78, 46, 23, 3, 499]

In [31]:
list2.reverse () #jzt reverse krdega
list2

[78, 46, 23, 3, 499]

In [32]:
list2.clear()
list2

[]

# POP

In [33]:
numbers = [29, 67, 45, 3, 89, 90]

In [34]:
x = numbers.pop()
print(x)
print(numbers)

90
[29, 67, 45, 3, 89]

In [35]:
print(numbers)

[29, 67, 45, 3, 89]

In [37]:
poppedlist = []

In [38]:
poppedElement = numbers.pop()          #jtni times execute krenge..by the time list empty hojaegi
poppedlist.append(poppedElement)
print(numbers)
print(poppedlist)

[29, 67, 45, 3]
[89]

In [39]:
if len(numbers) != 0:                      #len = length  #it won't crash our list agr list empty hogi tou btadega
    poppedlist.append(numbers.pop())
    print(poppedlist)
else:
    print('your list is empty')

[89, 3]

# LIST IN LIST

In [41]:
list4 = [19, 89,['apple', 'banana', 'orange']]
list4

[19, 89, ['apple', 'banana', 'orange']]

In [42]:
list4[2][2]

'orange'

In [43]:
list4[2]

['apple', 'banana', 'orange']

In [44]:
list4[1]

89

In [47]:
fruits = ['orange', 'peach', 'apple', 'mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [24]:
students

['asad', 'nasir', 'aisha']

In [53]:
newlist

[299, 'yasir', 'yasir']

In [54]:
abc = [23, 89, 3,newlist, fruits, 'abcd']
abc

[23,
 89,
 3,
 [299, 'yasir', 'yasir'],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [66]:
abc[4].remove('orange')
abc

[23, 89, 3, [299, 'yasir', 'yasir'], ['peach'], 'abcd']

In [68]:
del abc[3][0]
abc

[23, 89, 3, ['yasir', 'yasir'], ['peach'], 'abcd']

# slicing

In [71]:
#index     -6  -5  -4 -3  -2  -1
numbers = [29, 67, 45, 3, 89, 90]
#index      0   1   2  3  4 5
numbers

[29, 67, 45, 3, 89, 90]

In [72]:
numbers[-5]

67

In [73]:
numbers[1:3]    # [included : not included]  #mtlb start wala include hoga pr end wala no add nhi hoga

[67, 45]

In [74]:
numbers[1:4]

[67, 45, 3]

In [75]:
numbers[1:5:2]

[67, 3]

In [78]:
numbers = [29, 67, 45, 3, 89, 90, 4, 23, 56, 4]
numbers

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

In [79]:
print(numbers)
numbers[1:10:2]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[67, 3, 90, 23, 4]

In [80]:
numbers

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

In [81]:
numbers[:7]

[29, 67, 45, 3, 89, 90, 4]

In [82]:
numbers[3:]             #ending index nhi btaya so it'll gve no.till end

[3, 89, 90, 4, 23, 56, 4]

In [83]:
numbers[::2]            #step   #it'll jump 2 no.s

[29, 45, 89, 4, 56]

In [84]:
numbers[7:3]

[]

In [85]:
numbers[-5:-1]

[90, 4, 23, 56]

In [86]:
numbers[-1:-5]

[]

In [87]:
numbers[-1:-8:-1]

[4, 56, 23, 4, 90, 89, 3]

# TUPLES

In [2]:
#tupples are immutable (it won't change)
mytupple = (3,4,5,6,7)

In [3]:
type(mytupple)

tuple

In [4]:
len(mytupple)

5

In [6]:
mytupple[0]

3

In [7]:
del mytupple[0]   #cuz in tupple u can't del or append or pop item

TypeError: 'tuple' object doesn't support item deletion

In [8]:
mytupple[2:4]

(5, 6)

In [9]:
# all slicing rules of list are also applied in tupples as it is

In [10]:
#packing nd unpacking in list nd tupples

In [11]:
a = ("asad", "fahad", "asma", "hina")
#packing

In [12]:
w,x,y,z = a
#unpacking

In [13]:
w

'asad'

In [14]:
rectangle = [100,200]

In [15]:
height, width = rectangle

In [16]:
height

100

In [17]:
width

200

# FOR LOOPS

In [19]:
#task: print your name ten times
print("ajwa zubair")
print("ajwa zubair")
print("ajwa zubair")
print("ajwa zubair")
print("ajwa zubair")
print("ajwa zubair")
print("ajwa zubair")
print("ajwa zubair")

ajwa zubair
ajwa zubair
ajwa zubair
ajwa zubair
ajwa zubair
ajwa zubair
ajwa zubair
ajwa zubair

In [20]:
for a in range(10):          #in loop codes r reduced but complexity is increased
    print(a,"Ajwa zubair")

0 Ajwa zubair
1 Ajwa zubair
2 Ajwa zubair
3 Ajwa zubair
4 Ajwa zubair
5 Ajwa zubair
6 Ajwa zubair
7 Ajwa zubair
8 Ajwa zubair
9 Ajwa zubair

In [23]:
for a in range(2,5):
    print(a,"Ajwa zubair")

2 Ajwa zubair
3 Ajwa zubair
4 Ajwa zubair

In [24]:
for a in range(1,10,2):    #(start, end-1, step(jump 2 n0.))
    print(a,"Ajwa zubair")

1 Ajwa zubair
3 Ajwa zubair
5 Ajwa zubair
7 Ajwa zubair
9 Ajwa zubair

In [25]:
for a in range(0,10,2):
    print(a,"Ajwa zubair")

0 Ajwa zubair
2 Ajwa zubair
4 Ajwa zubair
6 Ajwa zubair
8 Ajwa zubair

In [26]:
for a in range(10,1,-2):
    print(a,"Ajwa zubair")

10 Ajwa zubair
8 Ajwa zubair
6 Ajwa zubair
4 Ajwa zubair
2 Ajwa zubair

In [27]:
for a in range(10,1,-1):
    print(a,"Ajwa zubair")

10 Ajwa zubair
9 Ajwa zubair
8 Ajwa zubair
7 Ajwa zubair
6 Ajwa zubair
5 Ajwa zubair
4 Ajwa zubair
3 Ajwa zubair
2 Ajwa zubair

In [31]:
my_list = ["john", "ada", "lovelace"] 
for i in my_list:
    print(i)

john
ada
lovelace

In [32]:
my_num = [2,4,5,8,10]   #input is in list form but output is not in list form
for i in my_num:
    print(i * 2)

4
8
10
16
20

In [33]:
my_num = [2,4,5,8,10]     #to get output also in list form we do this
my_new_list = []
for i in my_num:
    my_new_list.append(i * 2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [39]:
for i in range(21):
    print(i)
    if i ==20:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
40

In [40]:
#break
#continue
#pass

In [41]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [7]:
for i in range(10):
    print(i)
    print('counting')

0
counting
1
counting
2
counting
3
counting
4
counting
5
counting
6
counting
7
counting
8
counting
9
counting

In [8]:
for i in range(10):
    print(i)
print('counting')  #deintent

0
1
2
3
4
5
6
7
8
9
counting

In [42]:
for i in range(9):       #break  #it'll break the loop where u mentioned
    if i == 3:
        break
    print(i)

0
1
2

In [43]:
for i in range(9):       #continue  #it'll continue loop only skipping that value where continues is used
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [45]:
for i in range(5):  #bs execute krdeega bger error ke
    pass

In [46]:
#take input from user and print table
#of that no. in the following format
#2 * 1 = 2

In [51]:
table = int(input("enter a table num"))
for i in range(1,11):                         #we took range till 11 so that it gives till 10
    print(f"{table} x {i} = {table * i}")

enter a table num5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# for loop nested

In [52]:
for a in "pakistan":
    print(a)

p
a
k
i
s
t
a
n

In [53]:
for a in "pakistan":
    for b in range(5):
        print(a , b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [60]:
f_name = ["blueray", "upchuk", "lojack", "gizmo", "do-rag"]
l_name = ["zzz", "burp", "dogbone", "droop"]
full_name = []

for f in f_name:
    for l in l_name:
        full_name.append(f+ " " +l)
full_name

['blueray zzz',
 'blueray burp',
 'blueray dogbone',
 'blueray droop',
 'upchuk zzz',
 'upchuk burp',
 'upchuk dogbone',
 'upchuk droop',
 'lojack zzz',
 'lojack burp',
 'lojack dogbone',
 'lojack droop',
 'gizmo zzz',
 'gizmo burp',
 'gizmo dogbone',
 'gizmo droop',
 'do-rag zzz',
 'do-rag burp',
 'do-rag dogbone',
 'do-rag droop']

In [61]:
#CHANGING CASE

In [62]:
"pakistan".upper()

'PAKISTAN'

In [66]:
"PAKISTAN".lower()

'pakistan'

In [63]:
sl_str = "pakistan zindabad"     #sl=slicing    #str=string    
len(sl_str)

17

In [64]:
sl_str[5:11]

'tan zi'

In [65]:
sl_str[5:]

'tan zindabad'

In [67]:
sl_str[:11]

'pakistan zi'

# DICTIONARIES

DICTIONARY WORKS ON KEY VALUE PAIR

In [68]:
#definition     #list m the [] ye wale brackets   #tupples m () y wale  #dictionary m {} y wale
adict = {}

In [69]:
type(adict)

dict

In [72]:
len(adict)

3

In [71]:
#addind values to dictionary
adict['name']= "hamza khan"
adict['age'] = 34
adict['contact'] = 3356478291
adict

{'name': 'hamza khan', 'age': 34, 'contact': 3356478291}

In [73]:
adict['age']

34

In [75]:
del adict['age']

In [76]:
adict

{'name': 'hamza khan', 'contact': 3356478291}

In [78]:
bDict = {'city':"khi", "pop":"30M}
#          key   value   k     v
bDict

{'city': 'khi', 'pop': '30M'}

In [79]:
bDict["helo"] = 123456
bDict

{'city': 'khi', 'pop': '30M', 'helo': 123456}

In [80]:
bDict["helo"] = 123456
bDict[100]="hundred"
bDict

{'city': 'khi', 'pop': '30M', 'helo': 123456, 100: 'hundred'}

In [81]:
bDict = {'city':"khi", "pop":"30M", 'city' : "lahore"}    #now it'll execute new value
#          key   value   k     v
bDict

{'city': 'lahore', 'pop': '30M'}

In [82]:
adict['age']=34
adict

{'name': 'hamza khan', 'contact': 3356478291, 'age': 34}

In [83]:
#keys()
#values()
#items()

In [86]:
for key in adict.keys():    #key
    print(key)

name
contact
age

In [90]:
for val in adict.values():    #values
    print(val)

hamza khan
3356478291
34

In [91]:
for k,v in adict.items():
    print(k,v)

name hamza khan
contact 3356478291
age 34

In [92]:
# w3 schools.com se help len prhen

In [ ]:
Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# creating a list of dictionaries

In [93]:
eklist = [23,45,6,{"fruit": "apple", "food": "biryani"}]

In [94]:
eklist[3]

{'fruit': 'apple', 'food': 'biryani'}

In [96]:
eklist[3]['food']

'biryani'

In [4]:
"age" in 'adict'

False

In [6]:
"contact" in 'adict'

False

In [3]:
a = [{1:100},{2:200},{3:300}]
a

[{1: 100}, {2: 200}, {3: 300}]

In [4]:
a[1][2]
 #index  #thenkey

200

In [9]:
a[0][2]

KeyError: 2

In [17]:
d={'names':['asad','saad','daad' ,],'ages:[23,34,45,1]'}

SyntaxError: invalid syntax (<ipython-input-17-0d91a8b36133>, line 1)

In [12]:
d = ['names'][2]

IndexError: list index out of range

# FUNCTIONS

In [14]:
#WE USE FUNCTIONS FOR REUSEABILITY OF CODE

In [19]:
a = 12
b = 34
c = a+b
print(a+b)

46

In [20]:
def add_two_numbers():
    print("")

SyntaxError: unexpected EOF while parsing (<ipython-input-20-54bde0343e2b>, line 1)

In [21]:
#function definition
def func():
    '''it is a parameter less function'''
    print("I am a function")

In [23]:
func()

I am a function

In [25]:
#function calling
def name():
    print("AJWA ZUBAIR")

In [27]:
name()

AJWA ZUBAIR

In [28]:
def greeting(name):    #"(name)" is parameter of function
   '''it is a parametrised function'''
   print(f"you are welcome {name}")

In [29]:
greeting("ali")    #argument

you are welcome ali

In [30]:
greeting("AJWA")

you are welcome AJWA

In [31]:
#define a func with name sum it has two parameters
#a,b
#in body these two parameter wil be added and stored
# in c
#print the value in function
#calling
#call the function by giving argument

In [33]:
def sum(a,b):
    c = a+b
    print(f"the sum is {c}")

In [34]:
sum(100,200)

the sum is 300

In [35]:
sum(2,3)

the sum is 5

In [36]:
def giveMeFullName(firstName,middleName,lastName):
    #fullName = firstName+middleName+lastName
    fullName = f"{firstName} {middleName} {lastName}"
    print(fullName)

In [41]:
giveMeFullName('AJWA','MUHAMMAD','ZUBAIR')  #positional arguments hn

AJWA MUHAMMAD ZUBAIR

In [42]:
#key.word argument

In [44]:
giveMeFullName(middleName='AJWA',firstName='MUHAMMAD',lastName='ZUBAIR')

MUHAMMAD AJWA ZUBAIR

In [45]:
giveMeFullName(firstName='AJWA',middleName='MUHAMMAD',lastName='ZUBAIR')

AJWA MUHAMMAD ZUBAIR

In [46]:
# default parameter

In [47]:
def giveMeFullName(firstName,lastName,middleName=" "):
    #fullName = firstName+middleName+lastName
    fullName = f"{firstName} {lastName} {middleName}"
    print(fullName)

In [54]:
giveMeFullName('Ajwa', 'Zubair','')

Ajwa Zubair

In [ ]:
#local variable =====> scope==> within func
#global variable =====> scope==> everywhere in the func and out of function

In [55]:
def sub(u,v):
    w = u-v
    print(w)

In [56]:
sub(200,100)

100

In [57]:
def sub(u,v):
    w = u-v    #local variable
    return w

In [60]:
result = sub(200,100)
print(result)

100

In [61]:
def sub(u,v):
    w = u-v    #local variable
    return w
    print("abcd")      #koi frq nhi prega,qk after 'w' hm out of func hojaenge or phr ye execute hi nhi hoga

In [62]:
def sub(u,v):
    w = u-v    #local variable
    return w,"hello python" #returning more then one value

In [63]:
result = sub(200,100)
print(result)        #more than one value returned in the form of tupple

(100, 'hello python')

def sub(u,v):
    global q
    q = "i am a local global"
    w = u-v    
    return w
print(sub(15,4),q)

# KEYWORD ARGUMENTS

In [1]:
def car(model, year):
    print(model, year)

In [2]:
car('corolla','2019')    #positional argument

corolla 2019

In [3]:
car(2019,'corolla')

2019 corolla

In [4]:
car(year=2018,model='toyota')    #keyword argument

toyota 2018

In [8]:
def name(fname,lname):
    print(f'first name:{fname}')
    print(f'last name:{lname}')

In [9]:
name('husaain','ali')

first name:husaain
last name:ali

In [10]:
name(fname='ali', lname='hussain')

first name:ali
last name:hussain

In [12]:
name('ajwa','zubair')

first name:ajwa
last name:zubair

In [14]:
name(lname='zubair', fname='ajwa')

first name:ajwa
last name:zubair

In [15]:
print(fname)   #error is lye arha h k y funtion k under ka variable h function se bahir nhi use hoga,wrna ise global variable bnana hoga

NameError: name 'fname' is not defined

In [25]:
def name(fname,lname,mname):
    print(f'first name:{fname}')
    print(f'middle name:{mname}')
    print(f'last name:{lname}')

In [18]:
name('john',mname='walten','smith')   #isme keword and positional argument dono h..error arha h
                                 #the right thing is ke keword hmesha last m denge phle sare positional,so no error will occur

SyntaxError: positional argument follows keyword argument (<ipython-input-18-699ad8d15b86>, line 1)

In [26]:
name('john','smith', mname ='walten')

first name:john
middle name:walten
last name:smith

# ARBITARY NO. OF ARGUMENTS

In [40]:
def pizza(size, flavour, *toppings):#if something is unlimited(if we dn't knw exact value), hm use steric(*) m alg se likh denge
    print(size, flavour)
    print(toppings)

In [41]:
pizza('large', 'chicken tikka', 'extra cheese', 'olives') #output m steric wali values tupple form m arhi h

large chicken tikka
('extra cheese', 'olives')

In [42]:
def icecream(scoop, flavour, *toppings):
    print(scoop, flavour)
    print(toppings)

In [43]:
icecream(1, 'bounty', 'chocolate beans', 'caramel', 'nuts', 'chocolate syrup')

1 bounty
('chocolate beans', 'caramel', 'nuts', 'chocolate syrup')

In [44]:
icecream('one', 'bounty', 'chocolate beans', 'caramel', 'nuts', 'chocolate syrup')

one bounty
('chocolate beans', 'caramel', 'nuts', 'chocolate syrup')

In [49]:
def pizza(size, flavour, drinks, *toppings):
    print(size, flavour, drinks)
    print(toppings)

In [51]:
pizza('large', 'chicken tikka', 'cola', 'extra cheese', 'olives') #output m steric wali values tupple form m arhi h

large chicken tikka cola
('extra cheese', 'olives')

In [52]:
def pizza(size, flavour, *toppings, *drinks):  #u can't use 2 sterics(*) at a time
    print(size, flavour)
    print(toppings, drinks)

SyntaxError: invalid syntax (<ipython-input-52-59ce3fbf9268>, line 1)

In [53]:
def car(make, model, **specs): #when we'll use keyword argument, double steric(**)will be used
    print(make, model)
    print(specs)

In [54]:
car('toyota', 'prius', transmission = 'automatic') #output of keywrd argument or dbl steric, will be in the form of dictionary

toyota prius
{'transmission': 'automatic'}

In [55]:
car('toyota', 'prius', transmission = 'automatic', power = 'yes')

toyota prius
{'transmission': 'automatic', 'power': 'yes'}

# FUNCTIONS AS A VARIABLE

In [79]:
def add(a, b):
    c = a + b
    return c

In [69]:
def sub(a, b):
    c = a - b
    return c

In [70]:
result = add(2,2) + sub(6,3)
print(result)

7

In [72]:
print(result)

7

In [73]:
def mul(a, b):
    c = a * b
    return c

In [74]:
def add(a, b):
    c = a + b
    return c

In [75]:
result = mul(2,3) - add(2,2)
print(result)

2

In [ ]:
def add(a, b):
    c = a + b
   # return c

In [80]:
result = add('ajwa','zubair')  #return ht gya tou value nonr reh gai
print(result)

None

# WHILE LOOP

In [81]:
for a in range(10):  #for loop #reminding previous lecture
    print(a)

0
1
2
3
4
5
6
7
8
9

In [82]:
a = 0           #while loop

while a<10:
    print(a)
    a = a+1

0
1
2
3
4
5
6
7
8
9

In [85]:
topping = []                            #for loop m wo jb tk mangta rhega jb tk ap 5 toppings na dalol lo, whether u want or not
for a in range(5):
    toppings  = input('Enter a topping')
    topping.append(toppings)

print(topping)

Enter a toppingabc
Enter a toppingcdf
Enter a toppingz
Enter a toppingef
Enter a toppingwf
['abc', 'cdf', 'z', 'ef', 'wf']

In [5]:
toppings = []              
flag = True 

while flag:
    topping = input('enter a topping')
    toppings.append(topping)
    if topping == 'q':
        flag = False
        

print(toppings)    #it'll execute till we will put 'q' bcz we hv put 'if' condition here nd 'q' will add in topping

enter a toppingchk
enter a toppingabc
enter a toppingskl
enter a toppingq
['chk', 'abc', 'skl', 'q']

In [4]:
toppings = []              
flag = True                 

while flag:
    topping = input('enter a topping')
    if topping == 'q':
        flag = False
    else:
        toppings.append(topping)
    
    
        
print(toppings)     #it'll also execute till we out 'q' but in ds case 'q' wil not add in output toppings

enter a toppingabc
enter a toppingajj
enter a toppingq
['abc', 'ajj']

In [ ]:
availableFlavours = ['fjita', 'tikka', 'mexican']
availableSize = ['large', 'medium', 'small']
availableToppings = ['olives', 'cheese', 'hurbs']
print("pizza order")
print()
print()
flag = True
while flag:
    print(availableSize)
    size = input("Enter pizza size")
    if size not in availableSize:
        print(f"{size} not available")
        print("please enter the size again")
        size = input("Enter pizza size")

pizza order


Enter pizza sizewtever
wtever not available
please enter the size again
Enter pizza sizesjk
Enter pizza sizemedium